
@font-face { font-family: bebas-neue-by-fontfabric;
   src: url("https://use.typekit.net/af/c54646/00000000000000007735c070/30/l?subset_id=2&fvd=n4&v=3");
  }
*,
::after,
::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --clr-neutral-900:#000;
  --clr-neutral-100:#fff;
  --clr-text-light:#797777;

  --ff-primary:"Roboto",sans-serif;
  --ff-accent:"Bebas Neue",sans-serif;      /* ___2-akcenat*/
  --ff-accent-2:"bebas-neue-by-fontfabric",sans-serif;
}

html{
  font-size: 62.5%;
}
body{
font-family: var(--ff-primary);
font-size: 1.6rem;
}
a{
  color:var(--clr-neutral-900);
  text-decoration: none;
}
ul{
  list-style: none;
}
h1,h2,h3{
  line-height: 1; /*__3-Naslovi kad se sloze u dva reda budu mnogo odaljeni,pa se zato smanji lineheight*/
}
.container{
  margin-inline: auto; /* margin-inline:auto;    dodaje margine samo na bocnim stranicama ___3*/
  width: min(90%,1920px);/*kaze da je minimalna duzina 90% od duzine viewporta, ali da tih 90% moze da bude maximalno 1920px ___4*/
}
p{
  line-height: 1.5;
  color: #797777;
}


header{
  width: 100%;
  background-color: var(--clr-neutral-100);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  min-height: 10vh;
 }
nav{
  padding:5vh 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  line-height: 1.1;
}
.logo{
  font-size: 2.1rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
  font-family: var(--ff-accent);
  flex: 1 1 35rem;
}
ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1 1 35rem;
}
header ul a{
  display: inline-block;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: var(--clr-text-light);
  letter-spacing: .248rem;
  font-weight: 400;
  font-family: var(--ff-accent);
  padding: 0 1.5rem;
  transition: .5s;
  white-space: nowrap;/*___5-To postavis da se nebi dve reci prebacile jedna ispod druge kad smanjujes viewport*/
}
header ul a:hover{
  color: var(--clr-neutral-900);
}
header ul li:last-child a{
  padding-right: 0;
}
.hamburger{
  display: none;
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  top: 6%;
  right: 5%;
  transform: translate(-50%,-50%);
  z-index: 20;
}


.header-relative{
  position: relative;
}

.mobil-ul{
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 30% 0;
  transition: all 1.5s;
  font-size: 2.3rem;
  transition: all 1s ease-out;
}
.hero{
  position: relative;
  min-height: 90vh;
  background: url("./img/donovan-reeves-gZzUo--BTZ4-unsplash.jpg") no-repeat center center/cover;
  background-attachment: fixed;                                     /*___1*/
  top: 0;
}
.hero::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--clr-neutral-900);
  opacity: 0.4;
}

.hero h2{
  position: absolute;
  left: 50%;
  bottom: 12%;
  font-size: 4rem;
  color: var(--clr-neutral-100);
  text-align: center;
  font-family: var(--ff-accent-2);
  letter-spacing: 5px;
  z-index: 5;
  transform: translateX(-50%);
}

.main-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
main h1{
  font-family:var(--ff-accent-2);
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 5px;
  margin: 5vw auto;
  color: var(--clr-neutral-900);
}
.chapter{
 overflow: hidden;
 position:relative;
 flex: 1 1 45%;
 max-width: 70rem;
 min-width: 40rem;
 margin: 0 1rem;
 margin-bottom: 5rem;
 height: 30rem;
}
/* .chapter:nth-child(odd){
  margin-right: 1rem;
} */
.chapter img{
  width: 100%;
  height: 70%;
  display: block;
  transition: all .4s ease-in-out;
}
.chapter:hover img{
  height: 150%;
  width:150%;
  opacity: .7;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateX(-20%);
}
.chapter h2{
  /* font-family: bebas-neue-by-fontfabric; */
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  text-align: center;
  color: var(--clr-text-light);
  font-weight: 100;
  margin-top: 3rem;

}

.chapter:hover h2{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size:2.5rem;
  color: var(--clr-neutral-900);
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  transform: translate(-50%,-50%);
}
.thought{
  max-width: 1920px;
  margin: 0 auto;
  height: 100%;
}
.thought h2{
    font-family:var(--ff-accent-2);
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 5px;
    margin: 5vw auto;
    color: var(--clr-neutral-900);
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #f8f8f8;
}

.row > * + *{
 margin-left: 0rem;/*
 ___7-Kada ovo stavis znaci da se dodaje leva margina samo onim elementima koji iza sebe nemaju parrent nego neki drugi element*/
}
.left-side{
  order: 2;
  flex: 1 1 40rem;
}
.left-side img{
  width: 100%;
  max-height: 90vh;
  object-fit: cover;
  display: block;
}
.right-side{
  order: 1;
  flex: 1 1 40rem;
  padding: 5%;
  text-align: left;
  
}
.right-side p{
  line-height: 1.3em;
  margin-bottom: 3rem;
}
.right-side h2{
  font-size: 2.6rem;
  color: var(--clr-neutral-900);
}

.About img{
  width: 100%;
  height: 90vh;
  object-fit: cover;
}
.About h3{
  text-align: center;
  margin: 5vh auto;
  max-width: 80rem;
}
.About .text-container{
  padding:5% 0;
}
.About p{
  margin-bottom: 1em;
}

.contact h3{
  font-family: var(--ff-accent-2);
  text-align: center;
  font-size: 4rem;
  margin-block: 1em;
  letter-spacing: 5px;
}
.contact p{
  margin-bottom: 1em;
}
.contact .bold{
  color: #000;
  font-weight: bold;
}
form {
  display: flex;
  flex-wrap: wrap;
  padding: 5vh 0;
}
.form-wrap{
  max-width: 1150px;
  margin: 0 auto;
}
form .name ,
form .l-name {
  max-width: 48%;
}
form .l-name{
  margin-left: auto;
}
form .input-box,
form textarea{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom:2rem;
  width: 100%;
}


.input-box input,
.input-box textarea{
  min-width: 100%;
  padding: .5rem 1rem;
  height: 4rem;
  background-color: #fafafa;
  border: 1px solid #ccc;
  max-width: 40rem;
  outline-color: black;
  border-radius: 2px;
}
.input-box textarea{
  height: 20rem;
}
.input-box label{
margin-bottom: 1rem;
}
.btn{
  display: inline-block;
  background-color: #000;
  color: #fff;
  border-radius: 500px;
  font-family: var(--ff-accent);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .2em;
  padding: .8em 2.3em;
  border-width: 0;
  text-align: center;
  cursor: pointer;
  outline: none;
  transition: all .2s;
}
.btn:hover{
  opacity: .7;
}

.section-wrap{
  display: flex;
  flex-direction: column;
}
.section-wrap .img-container{
  width: 100%;
  height: 50vh;
  margin-bottom: 5vh;
  position: relative;
  background-color: #000;/* __8-Ovako se pravi overlay kad imas img, a ne background*/
  animation: anima2 1s ease-out;
}
.section-wrap img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  opacity: .7;
}
.section-wrap h2{
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 3rem;
  animation: anima .5s ease-out;
  z-index: 5;
  padding-left: 1rem;
}
@keyframes anima{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes anima2{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@media (max-width:988px){
  /* html{
    font-size: 50%;
  } */
   .logo {
    text-align: center;
    margin-bottom: 1em;/*___6-Kada se stavi na neki text em umesto rem onda je margina velicinie slova tog texta*/
  }
  ul{
    justify-content: center;
    text-align: center;
    width: 90%;
  } 
  .hero h2{
    width: 80%;
  }
}
@media (max-width:610px){
  html{
    font-size: 50%;
  }
  .About .text-container{
    font-size: 2rem;
  }
  .right-side{
    font-size: 2.2rem;
  }
}
@media (max-width:480px){
  nav{
    position: static;
  }
  .logo{
    text-align: start;
    margin-bottom: 0;
  }
  .hamburger{
    display: block;
  }
 
  ul{
    display: none;
    transition: all 1s;
  }
 
  .hero h2{
    width: 100%;
    font-size: 3rem;
    padding: 0 .3rem;
  }
  .a{
    font-size: 5rem;/*Mora da se stavi samo u @media da ne bi delovalo na velikom viewportu*/
  }
  form .name ,
form .l-name {
  max-width: 100%;
}
.About img{
  height: auto;
}
}







@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
  .logo{
    margin-bottom: 0.5em;
  }
  .hero h2{
    bottom: 22%;
  }
}
@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  .logo{
    margin-bottom: 0.5em;
  }
  .hero{
    min-height: 80vh;
  }
  
}

