/* @font-face { font-family: bebas-neue-by-fontfabric; src: url("https://use.typekit.net/af/c54646/00000000000000007735c070/30/l?subset_id=2&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/c54646/00000000000000007735c070/30/d?subset_id=2&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/c54646/00000000000000007735c070/30/a?subset_id=2&fvd=n4&v=3") format("opentype"); font-style: normal; font-weight: 400; font-display: auto; } */

@font-face { font-family: bebas-neue-by-fontfabric;
   src: url("https://use.typekit.net/af/c54646/00000000000000007735c070/30/l?subset_id=2&fvd=n4&v=3");
  }
*,
::after,
::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}
body{
font-family: 'Bebas Neue', cursive;
font-size: 1.6rem;
height: 200vh;
}
a{
  color: #000;
  text-decoration: none;
}
ul{
  list-style: none;
}
header{
  width: 100%;
  background-color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  min-height: 10vh;
 }
nav{
  max-width: 1920px;
  padding:5vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.1;
}
.logo{
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
}
ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header ul a{
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #797777;
  letter-spacing: .248rem;
  font-weight: 400;
  font-family: bebas-neue-by-fontfabric;
  padding: 0 .85rem;
  transition: .4;
}
header ul a:hover{
  color: #000;
}
header ul li:last-child a{
  padding-right: 0;
}



.hero{
  position: relative;
  min-height: 90vh;
  background: url("./img/donovan-reeves-gZzUo--BTZ4-unsplash.jpg") no-repeat center center/cover;
}
.hero::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.4;
}
.hero-text{
  position: absolute;
  width: 100%;
  top: 70%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%,-50%);
  text-align: center;
}
.hero h2{
  
  font-size: 4rem;
  color: #fff;
  text-align: center;
  font-family: bebas-neue-by-fontfabric;
  letter-spacing: 5px;
}
.hero a{
  display: inline-block;
  padding: 2rem 6rem;
  border-radius: 5px;
  border: 1px solid #fff;
  background: #000;
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: 5px;
  margin-top: 3rem;
  transform: translateX(-23%);
  transition: all .4s;
}
.hero a:hover{
  background: #fff;
  color: #000;
  border: 1px solid #000;
}


.main-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding:0 10%;
  margin: 0 auto;
}
main h1{
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 15px;
  margin: 5vw auto;
}
.chapter{
 overflow: hidden;
 position:relative;
 flex: 1 1 45%;
 max-width: 70rem;
 min-width: 40rem;
 margin: 0 1rem;
 margin-bottom: 5rem;
 height: 30rem;
}
/* .chapter:nth-child(odd){
  margin-right: 1rem;
} */
img{
  width: 100%;
  height: 70%;
  display: block;
  transition: all .4s ease-in-out;
}
.chapter:hover img{
  height: 150%;
  width:150%;
  opacity: .7;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateX(-20%);
}
.chapter h2{
  /* font-family: bebas-neue-by-fontfabric; */
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  text-align: center;
  color: #797777;
  font-weight: 100;
  margin-top: 3rem;

}

.chapter:hover h2{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size:2.5rem;
  color: rgb(0, 0, 0);
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  transform: translate(-50%,-50%);
}

@media (min-height:1920px){
 body{

 }
}